#info-card {
  text-align: center;
  padding: 100px 0px;
  margin-bottom: 40px;
}
#info-card h2 {
  padding: 15px 0px;
}
.info-card {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.info-card .card-2 {
  flex:1;
  min-width: 250px;
  border: dotted;
  border-radius: 10px;
  cursor: pointer;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(155, 119, 233);
  color: var(--colorprimary);
}