
.form-login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0;
}