.PaymentComponent {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Stripe-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 10px 5px 5px var(--colorsecondary);
    transition: var(--transition);
}
.Stripe-button:hover {
    translate: 1px -20px 50px;
    box-shadow: 20px 20px 20px var(--colorsecondary);
    cursor: grab;
}